body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Sidebar {
  background-color: darkgrey;
  display: grid;
  grid-template-rows : 100px 100px 100px auto;
}

.TitleSection
{
  background-color: blue;
}

.ToolsSection
{
  background-color: red;
}

.FilterSection
{
  background-color:pink;
}

.FilterButtonsSection
{
  margin: auto;
  width: 80%;
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}


.ButtonsGridItem
{
  max-width: 120px;
  margin: 2px;
}

/* .horizontalList
{
  display: table;
	margin: 0 auto;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.ListSection
{
  background-color: green;
}

.ListItemImage
{
  width : 30px;
  height: 30px;
}

/* .table 
{
	display: table;
	margin: 0 auto;
} */

.Item
{
  width : 30px;
  height: 30px;
}

/* ul#horizontalList 
{
	min-width: 100px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontalList li
{
	display: block;
} */

.GardenView
{
  background-color: white;
}

.App
{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows : auto;
  padding: 10px;
  height: 100vh;
}
